body{
    background-color: blanchedalmond;
    font-family: 'News Cycle'; 
}
header > h1{
    font-family: 'Contrail One';
}
.nav li {
    display: inline-block;
    font-size: 20px;
    padding: 20px; 
    text-align: center;
}

